@font-face {
        font-family: Cyberverse;
        src: url(Cyberverse.otf);
}

body {
    margin: 0;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    height: 100vh;
    margin: 0;
}

.clock {
    display: flex;
    color: rgb(153, 252, 24);
    font-family: Cyberverse;
    font-size: 5rem;
}
p {
    font-family: 'Cyberverse';
    color: white;
}

@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
  }