@font-face {
        font-family: 'Cyberverse';
        src: url(css\cyberverse\Cyberverse.otf);
}

html {
    background-color: #000;
    top: 0;
    left: 0;
}

.clock {
    left: 50%;
    top: 50%;
    position: absolute;
    color: rgb(153, 252, 24);
    font-family: Cyberverse;
}
p {
    font-family: 'Cyberverse';
    color: white;
}